extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Hi, How are you?
      a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
  .container
    .row
      .col-md-4
        h2 Home
        p Hey, I am fine!
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 About Us
        p Hey, I am fine!
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Contact
        p Hey, I am fine!
        a.btn.btn-default(href='#') View Details
